<div class="row col-md-12" style="margin: 0 auto;">

  <div class="col-md-6 col-sobre-o-motel">
    <div class="col-md-6 col-md-offset-1" id="sobre-motel">
      <h3 id="h3-suites">Sobre o Motel</h3>
      <p id="descricao-motel">Com acesso discreto na Avenida Pereira Barreto,
      o Cassino é a opção de hospedagem para moradores e visitantes
      de Santo André, na grande São Paulo.</p>
      <a href="#" class="botao btn-saiba-mais">SAIBA MAIS</a>
      <br>
      <a href="#" class="botao btn-black">LOCALIZAÇÃO</a>
    </div>
  </div>

  <app-fachada></app-fachada>

</div>