<div>

  <div id="fundo-logo-fb">
      <div>
          <a href="#"><img src="assets/img/facebook.svg" id="logo-fb" alt="logo-facebook"></a>
      </div>
  </div>

  <div class="col-md-2 col-md-offset-1">
      <a href="#">
        <img id="img-logo" alt="logo-cassino" src="assets/img/logo/logo.png" />
      </a>
  </div>

  <div class="col-md-8" id="icones-nav">
      <ul class="nav navbar-nav">
          <li><a href="#" id="itens-nav">INÍCIO</a></li>
          <li><a href="#" id="itens-nav">NOSSAS SUÍTES</a></li>
          <li><a href="#" id="itens-nav">O MOTEL</a></li>
          <li><a href="#" id="itens-nav">CORTESIAS</a></li>
          <li><a href="#" id="itens-nav">CONTATO</a></li>
          <li><a href="#" id="itens-nav">LOCALIZAÇÃO</a></li>
      </ul>
  </div>

</div>

