<!-- Fachada - Detalhes -->
<div><img class="img-fachada-desktop" src="assets/img/fachada/fachada.png" alt=""></div>

<div id="div-conjunto-blocos">
  <div id="blocos"><img id="img-bloco1" src="assets/img/wifi.svg" alt=""></div>

  <div id="blocos">
    <div class="blocos-menores">
      <img id="img-bloco2" src="assets/img/cardapio erotico.svg" alt="">
      <br>
      <p class="texto-blocos">Cardápio Erótico</p>
    </div>
  </div>
    
  <div id="blocos">
    <div class="blocos-menores">
      <img id="img-bloco3" src="assets/img/cozinha 24h.svg" alt="">
      <br>
      <p class="texto-blocos" style="width: 101%;">Cozinha 24 Horas</p>
    </div>
  </div>

</div>