<section id="nossas-suites" class="container-fluid">

  <div class="row col-md-12" id="header-nossas-suites">

    <a href="#" class="botao btn-nossas-suites" style="float: right;">VER TODAS AS SUÍTES</a>

    <div class="col-md-5 col-md-offset-1">
      <h1 id="titulo-nossas-suites">Nossas Suítes</h1>
      <p id="paragrafo-nossas-suites">Quando você conhecer, não vai querer mais sair</p>
    </div>

    <div class="row" id="blocos-nossas-suites">

      <div class="bloco-menor-nossas-suites" style="background-color:#D9241B;">
        <a><img id="img1-bloco-nossas-suites"src="assets/img/home.svg" alt="home"></a>
      </div>

      <div class="bloco-menor-nossas-suites">
        <a><img id="img2-bloco-nossas-suites" src="assets/img/hotel.svg"alt="hotel"></a>
      </div>

      <div class="bloco-menor-nossas-suites">
        <a><img id="img3-bloco-nossas-suites" src="assets/img/suites.svg"alt="suites"></a>
      </div>

      <div class="bloco-menor-nossas-suites">
        <a><img id="img4-bloco-nossas-suites" src="assets/img/local.svg"alt="local"></a>
      </div>

      <div class="bloco-menor-nossas-suites">
        <a><img id="img5-bloco-nossas-suites" src="assets/img/contato.svg"alt="contato"></a>
      </div>

    </div>

  </div>

  <!--Fotos das suítes (Nossas Suítes)-->
  <div class="row col-md-12 col-md-offset-1" id="vitrine">

    <div class="col-md-4" id="fotos-suite">
      <img src="assets/img/rsz_foto_topo.png" alt="foto-1" id="foto-vitrine">
      <div class="texto-e-botao">
          <h3 id="h3-suites">Suíte Caça Niquel</h3>
          <p>A partir de R$ 55,00</p>
          <br>
          <a href="#" class="botao btn-ver-suite">VER SUÍTE</a>
      </div>
    </div>

    <div class="col-md-4" id="fotos-suite">
      <img src="assets/img/rsz_foto_topo.png" alt="foto-1" id="foto-vitrine">
      <div class="texto-e-botao">
        <h3 id="h3-suites">Suíte Caça Niquel</h3>
        <p>A partir de R$ 55,00</p>
        <br>
        <a href="#" class="botao btn-ver-suite">VER SUÍTE</a>
      </div>
    </div>

    <div class="col-md-4" id="fotos-suite">
      <img src="assets/img/rsz_foto_topo.png" alt="foto-1" id="foto-vitrine">
      <div class="texto-e-botao">
        <h3 id="h3-suites">Suíte Caça Niquel</h3>
        <p>A partir de R$ 55,00</p>
        <br>
        <a href="#" class="botao btn-ver-suite">VER SUÍTE</a>
      </div>
    </div>

    <div class="col-md-4" id="fotos-suite-4">
      <img src="assets/img/rsz_foto_topo.png" alt="foto-1" id="foto-vitrine">
      <div class="texto-e-botao">
        <h3 id="h3-suites">Suíte Caça Niquel</h3>
        <p>A partir de R$ 55,00</p>
        <br>
        <a href="#" class="botao">VER SUÍTE</a>
      </div>
    </div>

    <div class="row" id="div-botao-ver-mais">
      <a href="#" class="botao btn-black" id="btn-central">VER TODAS AS SUÍTES</a>
    </div>

  </div>

  <app-sobre-o-motel>
      
  </app-sobre-o-motel>

  

</section>

<div><img class="img-fachada" src="assets/img/fachada/fachada.png" alt=""></div>
<div><img class="img-fachada-menor" src="assets/img/fachada/fachada/fachada.png" alt=""></div>
