<!--FOOTER DESKTOP-->
<div class="row" id="row-footer">

  <div id="blocos-footer">

    <div id="blocos-menores-footer">

      <ul class="nav navbar-nav" class="nav navbar-nav">
        <a>
          <li id="li-footer"><strong>Mapa do Site</strong></li>
        </a>
        <a>
          <li id="li-footer">Início</li>
        </a>
        <a>
          <li id="li-footer">Nossas Suítes</li>
        </a>
        <a>
          <li id="li-footer">O Deslize</li>
        </a>
        <a>
          <li id="li-footer">Cortesias</li>
        </a>
        <a>
          <li id="li-footer">Contato</li>
        </a>
        <a>
          <li id="li-footer">Localização</li>
        </a>

      </ul>

    </div>

    <div id="blocos-menores-footer">

      <ul class="nav navbar-nav">

        <a>
          <li id="li-footer"><strong>Nossas Suítes</strong></li>
        </a>
        <a>
          <li id="li-footer">Suíte Violeta</li>
        </a>
        <a>
          <li id="li-footer">Suíte Azaléia</li>
        </a>
        <a>
          <li id="li-footer">Suíte Rosa</li>
        </a>
        <a>
          <li id="li-footer">Suíte Lótus</li>
        </a>
        <a>
          <li id="li-footer">Suíte Orquídea</li>
        </a>

      </ul>

    </div>

    <div id="blocos-menores-footer">

      <ul class="nav navbar-nav">

        <a>
          <li id="li-footer"><strong>Social Media</strong></li>
        </a>
        <a>
          <li id="li-footer">Acesse nosso Instagram</li>
        </a>
        <a>
          <li id="li-footer">Acesse nosso Facebook</li>
        </a>

      </ul>

    </div>

    <div id="blocos-menores-footer">

      <ul class="nav navbar-nav">

        <li id="li-footer"><strong>Endereço</strong></li>
        <br>
        <li id="li-footer">Avenida Ricardo Jafet, 1188</li>
        <br>
        <br>
        <li id="li-footer"><strong>Telefone</strong></li>
        <br>
        <li id="li-footer">(011) 1234-1234 / (011) 4321-1243</li>
        <br>
        <br>
        <li id="li-footer"><strong>Whatsapp</strong></li>
        <br>
        <li id="li-footer">(011) 1234-1234</li>

      </ul>

    </div>

  </div>

</div>

 <!--FOOTER MOBILE-->
<div id="footer-mobile">

  <div id="blocos-uber">

    <div class="div-va-de-uber">
      <p id="p-va-de-uber">VÁ DE UBER</p>
    </div>

    <div>
      <img id="img-uber" src="assets/img/uber/uber@2x.png" alt="">
    </div>

  </div>

  <div>
    <img id="img-mapa-mobile" src="assets/img/mapa/mapa/mapa.png" alt="">
  </div>

  <div id="botoes-footer">

    <div>
      <a href="#" class="botao btn-footer">TRAÇAR ROTA</a>
    </div>

    <div>
      <a href="#" class="botao btn-footer">VER SUÍTES</a>
    </div>

    <div>
      <a href="#" class="botao btn-footer">LIGAR NO MOTEL</a>
    </div>

  </div>

  <div class="row rodape-mobile">
    <p class="p-rodape">GUIA DE MOTÉIS SITES | GUIA DE MOTÉIS ©</p>
  </div>

</div>

<div class="row row-rodape">
  <p class="p-rodape">GUIA DE MOTÉIS SITES | GUIA DE MOTÉIS ©</p>
</div>
