<div class="container cortesias">

  <div class="row row-cortesias">
      <a href="#" class="btn-ver-todas-as-suites">VER TODAS AS SUÍTES</a>
      <h3 class="h3-cortesias">Cortesias</h3>
      <p class="paragrafo-cortesias">Quando você conhecer, não vai mais querer sair</p>
  </div>

  <div class="row row-cafe-da-manha">
    <div class="bloco-cafe-da-manha">
      <h4 class="h4-cafe-da-manha">Café da Manhã</h4>
      <p class="p-cortesia">CORTESIA</p>
      <p class="p-cafe-da-manha">Servido todos os dias entre 5h e 11h, para pernoites e períodos de 12h.</p>
    </div>

    <div class="bloco-cafe-da-manha">
      <h4 class="h4-cafe-da-manha">Café da Manhã</h4>
      <p class="p-cortesia">CORTESIA</p>
      <p class="p-cafe-da-manha">Servido todos os dias entre 5h e 11h, para pernoites e períodos de 12h.</p>
    </div>

    <div class="bloco-cafe-da-manha">
      <h4 class="h4-cafe-da-manha">Café da Manhã</h4>
      <p class="p-cortesia">CORTESIA</p>
      <p class="p-cafe-da-manha">Servido todos os dias entre 5h e 11h, para pernoites e períodos de 12h.</p>
    </div>
  </div>

  <div class="row botao-ver-mais-black">
    <a href="#" class="btn-ver-mais">VER MAIS</a>
    <div class="row logos-facebook-instagram">
        <a href=""><img id="img-logo-facebook" src="assets/img/logo/facebook.svg" alt=""></a>
        <a href=""><img id="img-logo-instagram" src="assets/img/logo/instagram.svg" alt=""></a>
      </div>
  </div>

  

  <!-- row - Nexx Club -->
  <div class="row row-nexx-club">
    <img id="img-nexx-club" src="assets/img/cartao.svg" alt="">
    <div>
      <p id="p-nexx-club"><strong>Nexx Club</strong> - Acumule até 15% de desconto para sua próxima visita!</p>
    </div>
  </div>

  <!-- MAPA -->
  <div class="row row-mapa">
    <img id="img-mapa-desktop" src="assets/img/mapa/mapa.png">
  </div>

</div>
